@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* @import '@/styles/admin-makeup.scss'; */

/* rubik-regular - arabic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/Rubik-VariableFont_wght.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  variable: '--font-rubik';
}

:root {
  --font-body:
    'Rubik', apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  --style-radius-s: 8px;
  --style-radius-m: 12px;
  --style-radius-l: 16px;
  --style-radius-full: 999px;
}

.collapsible {
  border-radius: var(--style-radius-s);
}

.collapsible__content {
  border-bottom-left-radius: var(--style-radius-s);
  border-bottom-right-radius: var(--style-radius-s);
}

.collapsible__toggle-wrap {
  border-radius: var(--style-radius-s);
}

.collapsible__toggle-wrap:has(.collapsible__toggle--open) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.file-details {
  overflow: hidden;
}

.popup__content {
  border-radius: var(--style-radius-s);
}

.popup__content .popup-button-list__button {
  border-radius: var(--style-radius-s);
}

.fixed-toolbar {
  border-radius: var(--style-radius-s);
  overflow: hidden;
}

.rich-text-lexical .editor-container {
  font-family: var(--font-body);
  font-size: 1.5rem;
}

.rich-text-lexical .editor-container h1 {
  margin-block: 0.5rem 1.5rem;
}
.decorator-selected {
  box-shadow: 0 0 0 2px var(--theme-elevation-1000);
}
.monaco-editor {
  border-radius: var(--style-radius-s);
  overflow: hidden;
}
.monaco-editor .overflow-guard {
  border-radius: var(--style-radius-s);
  overflow: hidden;
}

.btn {
  border-radius: var(--style-radius-full);
}

// .btn--withPopup {
//   .btn {
//     border-top-left-radius: var(--style-radius-full);
//     border-bottom-left-radius: var(--style-radius-full);
//   }
// }

.preview-btn,
.live-preview-toggler {
  border-radius: var(--style-radius-full);
  flex-shrink: 0;
}

.pill {
  border-radius: var(--style-radius-full);
}

.column-selector,
.where-builder {
  border-radius: var(--style-radius-m);
}

.column-selector__column.column-selector__column--active {
  color: var(--theme-elevation-0);
  background-color: var(--theme-elevation-1000);
}

.paginator__page,
.clickable-arrow,
.clickable-arrow--disabled {
  border-radius: var(--style-radius-full);
}

html:not([dir='RTL']) .btn--withPopup .btn {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
html:not([dir='RTL']) .btn--withPopup .popup-button {
  border-top-right-radius: var(--style-radius-full);
  border-bottom-right-radius: var(--style-radius-full);
}

.relationship-add-new__add-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: var(--style-radius-s);
  border-bottom-right-radius: var(--style-radius-s);
}

.doc-controls__dots {
  border-radius: var(--style-radius-full);
}

.nav__link {
  padding-block: 8px;
  padding-inline: 16px;
  border-radius: 999px;
  &:hover {
    background-color: var(--theme-elevation-50);
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
}
.nav__link:has(.nav__link-indicator) {
  background-color: var(--theme-elevation-100);
}

.table {
  display: block;
}

.nav-group__label {
  text-transform: uppercase;
  font-family: var(--font-body);
  font-weight: 500;
  // font-size: 0.75rem;
  // color: var(--theme-elevation-700);
}

.hamburger {
  border-radius: var(--style-radius-full);
}

.field-type.email input {
  border-radius: var(--style-radius-s);
}

[data-theme='light'] {
  .login__brand,
  .step-nav__home {
    filter: invert(1);
    width: auto;
  }
}
.login__brand {
  height: 32px;
  width: auto;
}

.forgot-password {
  text-align: center;
}

.forgot-password .template-minimal__wrap .form {
  margin-bottom: calc(var(--base) / 2);
}

.forgot-password .template-minimal__wrap .form > *:last-child {
  margin-top: calc(var(--base));
}

.login__form__inputWrap {
  margin-bottom: var(--base);
}

.form > *:last-child {
  margin-top: calc(var(--base) / 2);
}

@layer payload-default {
  .checkbox-input__input {
    border-radius: 4px;
  }
  .checkbox-input {
    &:not(&--read-only) {
      &:active,
      &:focus-within,
      &:focus {
        .checkbox-input__input,
        & input[type='checkbox'] {
          outline: 0;
          box-shadow: none !important;
          border: 1px solid var(--theme-elevation-150);
        }
      }
      &:hover {
        .checkbox-input__input,
        & input[type='checkbox'] {
          border-color: var(--theme-elevation-250);
        }
      }
    }
  }
}

.nav__link {
  position: relative;
  padding: 0.5rem;
  padding-left: 0.75rem;
  border-radius: 2rem;
  transition: background-color var(--nav-trans-time);
  &:hover {
    text-decoration: none;
    background-color: var(--theme-elevation-100);
  }
  /* border: 1px solid red; */
}
.nav__link.active::before {
  opacity: 1;
}
.nav__link::before {
  --icon-color: #fff;
  transition: opacity var(--nav-trans-time);
  opacity: 0.5;
  margin-right: 0.5rem;
  width: 1.3rem;
  height: 1.3rem;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
.nav__link:hover::before {
  opacity: 1;
}
/* Fallback Icon */
.nav-group[id*='Collections'] .nav__link::before {
  mask-image: url('https://api.iconify.design/material-symbols:filter_none.svg');
  content: '';
}

.nav-group .nav__link[id*='page']::before {
  mask-image: url('https://api.iconify.design/material-symbols:description.svg');
  content: '';
}
.nav-group .nav__link[id*='solutions']::before {
  mask-image: url('https://api.iconify.design/material-symbols:point-of-sale.svg');
  content: '';
}
.nav-group .nav__link[id*='integrations']::before {
  mask-image: url('https://api.iconify.design/material-symbols:sdk.svg');
  content: '';
}

.nav-group .nav__link[id*='post']::before {
  mask-image: url('https://api.iconify.design/material-symbols:border-color.svg');
  content: '';
}

.nav-group .nav__link[id*='customers']::before {
  mask-image: url('https://api.iconify.design/material-symbols:format-quote.svg');
  content: '';
}

.nav-group .nav__link[id*='categories']::before {
  mask-image: url('https://api.iconify.design/material-symbols:category.svg');
  content: '';
}

.nav-group .nav__link[id*='product']::before {
  mask-image: url('https://api.iconify.design/material-symbols:shopping-cart.svg');
  content: '';
}

.nav-group .nav__link[id*='media']::before {
  mask-image: url('https://api.iconify.design/material-symbols:image.svg');
  content: '';
}

.nav-group .nav__link[id*='upload']::before {
  mask-image: url('https://api.iconify.design/material-symbols:upload.svg');
  content: '';
}

.nav-group .nav__link[id*='faq']::before {
  mask-image: url('https://api.iconify.design/material-symbols:forum.svg');
  content: '';
}

.nav-group .nav__link[id*='changelog']::before {
  mask-image: url('https://api.iconify.design/material-symbols:history.svg');
  content: '';
}

.nav-group .nav__link[id*='callToAction']::before {
  mask-image: url('https://api.iconify.design/material-symbols:call-to-action-rounded.svg');
  content: '';
}

.nav-group .nav__link[id*='form']::before {
  mask-image: url('https://api.iconify.design/material-symbols:format-list-bulleted.svg');
  content: '';
}

.nav-group .nav__link[id*='submission']::before {
  mask-image: url('https://api.iconify.design/material-symbols:mark-email-read.svg');
  content: '';
}

.nav-group .nav__link[id*='block']::before,
.nav-group .nav__link[id*='lock']::before {
  mask-image: url('https://api.iconify.design/material-symbols:boxes.svg');
  content: '';
}

.nav-group .nav__link[id*='redirect']::before {
  mask-image: url('https://api.iconify.design/material-symbols:conversion-path.svg');
  content: '';
}

.nav-group .nav__link[id*='folders']::before {
  mask-image: url('https://api.iconify.design/material-symbols:folder.svg');
  content: '';
}

.nav-group .nav__link[id*='header']::before {
  mask-image: url('https://api.iconify.design/material-symbols:top-panel-close.svg');
  content: '';
}

.nav-group .nav__link[id*='footer']::before {
  mask-image: url('https://api.iconify.design/material-symbols:bottom-panel-close.svg');
  content: '';
}

.nav-group .nav__link[id*='settings']::before {
  mask-image: url('https://api.iconify.design/material-symbols:settings.svg');
  content: '';
}

.nav-group .nav__link[id*='user']::before {
  mask-image: url('https://api.iconify.design/material-symbols:group.svg');
  content: '';
}

.nav-group .nav__link[id*='session']::before {
  mask-image: url('https://api.iconify.design/material-symbols:key.svg');
  content: '';
}

.nav-group .nav__link[id*='verification']::before {
  mask-image: url('https://api.iconify.design/material-symbols:rectangle-ellipsis.svg');
  content: '';
}

.nav-group .nav__link[id*='account']::before {
  mask-image: url('https://api.iconify.design/material-symbols:shield-user.svg');
  content: '';
}

.nav-group .nav__link[id*='admin-invitation']::before {
  mask-image: url('https://api.iconify.design/material-symbols:user-plus.svg');
  content: '';
}

.nav-group .nav__link[id*='comment']::before {
  mask-image: url('https://api.iconify.design/material-symbols:message-circle.svg');
  content: '';
}

.nav-group .nav__link[id*='review']::before {
  mask-image: url('https://api.iconify.design/material-symbols:star.svg');
  content: '';
}

.nav-group .nav__link[id*='search']::before {
  mask-image: url('https://api.iconify.design/material-symbols:search.svg');
  content: '';
}

.nav-group .nav__link[id*='tag']::before {
  mask-image: url('https://api.iconify.design/material-symbols:tags.svg');
  content: '';
}

.nav-group .nav__link[id*='analytics']::before {
  mask-image: url('https://api.iconify.design/material-symbols:bar-chart.svg');
  content: '';
}

.nav-group .nav__link[id*='objects']::before {
  mask-image: url('https://api.iconify.design/material-symbols:car-front.svg');
  content: '';
}

.nav-group .nav__link[id*='auctions']::before {
  mask-image: url('https://api.iconify.design/material-symbols:megaphone.svg');
  content: '';
}

.nav-group .nav__link[id*='bids']::before {
  mask-image: url('https://api.iconify.design/material-symbols:banknote-arrow-up.svg');
  content: '';
}

.nav-group .nav__link[id*='appointment']::before,
.nav-group .nav__link[id*='booking']::before,
.nav-group .nav__link[id*='event']::before,
.nav-group .nav__link[id*='calendar']::before {
  mask-image: url('https://api.iconify.design/material-symbols:calendar-clock.svg');
  content: '';
}
